{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <div class="">
        <ul class="list-group">
            <li class="list-group-item">
                사용자 이름 : {{ user.username }}
            </li>
            <li class="list-group-item">
                사용자 이메일 : {{ user.email }}
            </li>
            <li class="list-group-item">
                마지막 로그인 : {{ user.last_login }}
            </li>
        </ul>
    </div>

    <div class="my-3">
        <ul class="list-group">
            <h6>쓴 글</h6>
            {% for question in question_list %}
                <li class="list-group-item">
                    <a href="{% url 'pybo:detail' question.id %}">{{ question.subject }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="my-3">
        <ul class="list-group">
            <h6>쓴 답변</h6>
            {% for answer in answer_list %}
                <li class="list-group-item">{{ answer.content }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="my-3">
        <ul class="list-group">
            <h6>쓴 댓글</h6>
            {% for comment in comment_list %}
                <li class="list-group-item">{{ comment.content }}</li>
            {% endfor %}
        </ul>
    </div>


</div>
{% endblock %}
